[submodule "atlasrootstyle"]
	path = atlasrootstyle
	url = ../../../../atlas-publications-committee/atlasrootstyle.git
	branch = master
[submodule "include/cpp-text-table"]
	path = include/cpp-text-table
	url = https://github.com/haarcuba/cpp-text-table.git
	branch = master
